body {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h1 {
  font-size: 2.5rem;
}

.soccer-players {
  border-top: 1px solid black;
  padding: 20px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap; 
  justify-content: space-between;
}

.soccer-player {
  border: 1px solid black;
  width: 30%;
  height: 150px;
  text-align: center;
  margin: 10px 0;
  box-shadow: 0 15px 15px rgba(0,0 ,0, .25);
  border-radius: 20px;
}

.soccer-player:hover {
  border: 5px solid #B22222;
}

.player {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.country {
  font-size: 1.1rem;
}

.search-results {
  border: 2px solid blue;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  margin: 20px auto;
}

